doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Le lecteur vidéo
    link(rel="stylesheet", href="./index.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
  body

    .container-video
      video(src="./Turtle.m4v").video 

      .controls
        .barre-rouge 
          .juice

        .buttons
          button#play-pause
          button#mute Mute
          input(type="range", name="" id="volume-slider" min="0" max="100" value="50" step="1")
          button#fullscreen




    script(src="./index.js") 