*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  background-color: rgb(34,32,32);
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-video {
  width: 800px;
  position: relative;
  overflow: hidden;
}

.video {
  width: 100%;
}

.controls {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
  flex-wrap: wrap;
  background-color: rgba($color: #000000, $alpha: .5);
  //transform: translateY(100%);
  transition: all .2s;

  .container-video:hover & {
    transform: translateY(0);
  }
}

.barre-rouge {
  height: 5px;
  width: 100%;
  background: #000;
  cursor: pointer;
}

.juice {
  height: 100%;
  background-color: red;
}

.buttons {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: end;

  button {
    border: 0;
    outline: 0;
    cursor: pointer;
    background: none;

    &#play-pause::before {
      content: '\f144';
      font-family: 'Font Awesome 5 free';
      width: 30px;
      height: 30px;
      display: inline-block;
      font-size: 28px;
      color: #fff;
    }

    &#play-pause.play::before {
      content: '\f144';
    }

    &#play-pause.pause::before {
      content: '\f28b';
    }
  }
}


#mute{
  position: relative;
  top: -5px;
  margin: 0 12px;
  color: #fff;
}

#fullscreen{
  position: absolute;
  right: 5px;
  width: 15px;
  height: 15px;
  border: 2px solid #fff;
  top: 50%;
  transform: translateY(-50%);
}
